{% block set_password_widget %}
    <div class="row">
        <div class="col">
            {{ form_row(form.plainPassword) }}
        </div>
        <div class="col">
            {{ form_row(form.repeatPlainPassword) }}
        </div>
    </div>
{% endblock %}

{% block edit_event_trait_widget %}
    {% import _self as own_macros %}

    {{ form_row(form.title) }}
    {{ form_row(form.description) }}

    <div class="row">
        <div class="col">
            {{ form_row(form.startDate) }}
        </div>
        <div class="col">
            {{ form_row(form.parts) }}
        </div>
    </div>

{% endblock %}

{% block edit_event_widget %}
    {% import _self as own_macros %}

    {{ form_row(form.event) }}

    <hr/>

    {{ form_row(form.minRegistrations) }}

    {{ form_row(form.experience) }}
{% endblock %}

{% block moderate_event_widget %}
    {% import _self as own_macros %}

    {{ form_row(form.event) }}

    <hr/>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.identifier) }}
        </div>
    </div>

    <hr/>

    {{ form_row(form.minRegistrations) }}

    {{ form_row(form.experience) }}


    <div class="row mt-4">
        <div class="col">
            {% if form.submit is defined %}
                {{ form_widget(form.submit) }}
            {% endif %}
            {% if form.unpublish is defined %}
                {{ form_widget(form.unpublish, {'attr': {'class': 'btn btn-danger'}}) }}
            {% endif %}
            {% if form.publish is defined %}
                {{ form_widget(form.publish, {'attr': {'class': 'btn btn-success'}}) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
