{% extends "_form_content.html.twig" %}

{% block title %}{{ "new.title"|trans }}{% endblock %}
{% block description %}{{ "new.description"|trans }}{% endblock %}

{% trans_default_domain "event" %}

{% block form_content_before %}
    <p>{{ triagePurpose.motivation|nl2br }}</p>
    <p class="alert alert-info">
        <b>{{ "new.event_window"|trans }}</b>: {{ triagePurpose.startDate|dateFormat }} - {{ triagePurpose.endDate|dateFormat }}<br/>
        {{ "new.questions"|trans }}
        <a href="mailto:{{ env_support_email }}">
            {{ env_support_email }}
        </a>
    </p>
    <hr/>
{% endblock %}
