{% macro display_event_datetime(event) %}
    {{ event.startDate|dateTimeFormat }}
    -
    {{ "parts_pluralization"|trans({'{count}': event.parts}, "trait_event") }}
    {% if event.author %}
        - {{ event.author }}
    {% endif %}
{% endmacro %}

{% macro display_event_datetime_inline(event) %}
    {{ event.startDate|dateFormat }} | {{ event.startDate|timeFormat }} | {{ event.parts }} {{ "parts_pluralization"|trans({'{count}': event.parts}, "trait_event") }}
    {% if event.author %}
        | {{ event.author }}
    {% endif %}
{% endmacro %}

{% macro display_event_ispublic_badge(event) %}
    {% if event.public %}
        <span class="badge badge-success">
            {{ "is_public"|trans({}, "entity_event") }}
        </span>
    {% else %}
        <span class="badge badge-danger">
            {{ "is_not_public"|trans({}, "entity_event") }}
        </span>
    {% endif %}
{% endmacro %}

{% macro display_event_registration(event, break = false) %}
    {% import _self as self %}
    {% if event.registrationForUser(app.user) %}
        <span class="mr-2">
            <span class="text-success">{{ "register.registered"|trans({}, "event") }}</span>
            {% if event.canDeregister %}
                (<a href="{{ path("event_deregister", {"event": event.id}) }}">{{ "deregister.title"|trans({}, "event")|lower }}</a>)
            {% endif %}
        </span>
    {% else %}
        {% if event.canRegister %}
            <a class="btn btn-outline-primary mr-2" href="{{ path("event_register", {"event": event.id}) }}">
                {{ "register.title"|trans({}, "event") }}
            </a>
        {% endif %}
    {% endif %}
    {% if break %}<br>{% endif %}
    {% if event.sufficientRegistrations %}
        <span class="badge badge-success">
            {{ "index.confirmed"|trans({}, "index") }}
        </span>
    {% else %}
        <span>
            {{ event.missingRegistrations }} {{ "index.missing_registrations"|trans({}, "index") }}
        </span>
    {% endif %}
{% endmacro %}

{% macro display_event_registration_count(event) %}
    <span class="{% if event.sufficientRegistrations %}text-success{% endif %}">
       {{ event.registrations|length }} / {{ event.minRegistrations }}
    </span>
{% endmacro %}
