{% macro display_event_datetime(event) %}
    {{ event.startDate|dateFormat }}
    -
    {{ event.startDate|timeFormat }}
    -
    {{ "parts_pluralization"|trans({'{count}': event.parts}, "trait_event") }}
{% endmacro %}

{% macro display_event_datetime_inline(event) %}
    {{ event.startDate|dateFormat }} | {{ event.startDate|timeFormat }} | {{ event.parts }} {{ "parts_pluralization"|trans({'{count}': event.parts}, "trait_event") }}
{% endmacro %}

{% macro display_event_ispublic_badge(event) %}
    {% if event.public %}
        <span class="badge badge-success">
            {{ "is_public"|trans({}, "entity_event") }}
        </span>
    {% else %}
        <span class="badge badge-danger">
            {{ "is_not_public"|trans({}, "entity_event") }}
        </span>
    {% endif %}
{% endmacro %}

{% macro display_event_registration(event, break = false) %}
    {% import _self as self %}
    {% if event.registrationForUser(app.user) %}
        <span class="text-success">{{ "register.registered"|trans({}, "event") }}</span>
        (<a href="{{ path("event_deregister", {"event": event.id}) }}">{{ "deregister.title"|trans({}, "event")|lower }}</a>)
    {% else %}
        <a class="btn btn-outline-primary" href="{{ path("event_register", {"event": event.id}) }}">
            {{ "register.title"|trans({}, "event") }}
        </a>
    {% endif %}
    {% if break %}<br>{% endif %}
    {% if event.sufficientRegistrations %}
        <span class="ml-2 badge badge-success">
            {{ "index.confirmed"|trans({}, "index") }}
        </span>
    {% else %}
        <span class="ml-2">
            {{ event.missingRegistrations }} {{ "index.missing_registrations"|trans({}, "index") }}
        </span>
    {% endif %}
{% endmacro %}

{% macro display_event_registration_count(event) %}
    <span class="{% if event.sufficientRegistrations %}text-success{% endif %}">
       {{ event.registrations|length }} / {{ event.minRegistrations }}
    </span>
{% endmacro %}
