{% extends "_content.html.twig" %}

{% block title %}{{ triagePurpose.title }}{% endblock %}
{% block description %}{{ triagePurpose.description|nl2br }}{% endblock %}

{% trans_default_domain "index" %}

{% block content %}
    <div class="tile">
        <h1>{{ block('title') }}</h1>
        <hr/>
        <p class="lead">{{ block('description') }}</p>
    </div>

    <div class="mt-5"></div>

    <div class="content mt-5">
        <h2>{{ "index.upcoming_events"|trans }}</h2>
    </div>

    <div class="masonry-grid">
        <div class="masonry-grid-sizer"></div>
        {% for event in events %}
            <div class="masonry-grid-item">
                <div class="content tile {% if event.sufficientRegistrations %}border border-success{% endif %}">
                    <h2>{{ event.title }}</h2>
                    <p class="text-secondary">
                        {{ event.startDate|dateFormat }}
                        -
                        17:00
                        -
                        {{ event.parts }} {{ "event.parts"|trans({}, "entity_event") }}
                    </p>
                    <p>{{ event.description|nl2br }}</p>
                    <p>
                        {% if event.registrationForUser(app.user) %}
                            <span class="text-success">{{ "index.registered"|trans }}</span>
                            (<a href="{{ path("event_deregister", {"event": event.id}) }}">{{ "deregister.title"|trans({}, "event")|lower }}</a>)
                        {% else %}
                            <a class="btn btn-outline-primary" href="{{ path("event_register", {"event": event.id}) }}">
                                {{ "register.title"|trans({}, "event") }}
                            </a>
                        {% endif %}
                        {% if event.minRegistrations > 0 %}
                            <span class="ml-2 {% if event.sufficientRegistrations %}text-success{% endif %}">
                               {{ event.registrations|length }} / {{ event.minRegistrations }} {{ "index.required_registrations"|trans }}
                            </span>
                        {% endif %}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
