{% extends "_content.html.twig" %}
{% import '_parts/event.html.twig' as event_macros %}

{% block title %}{{ triagePurpose.title }}{% endblock %}
{% block description %}{{ triagePurpose.description|nl2br }}{% endblock %}

{% trans_default_domain "index" %}

{% block content %}
    <figure class="shattering p-2 mt-5 mb-5">
        {% include "_parts/shattered_logo.html" %}
    </figure>

    <div class="content p-0">
        <div class="container tile mt-5">
            <p class="lead">{{ block('description') }}</p>
        </div>
    </div>

    <div class="mt-5"></div>

    <div class="content mt-5">
        <h2>{{ "index.upcoming_events"|trans }}</h2>
    </div>

    <div class="masonry-grid">
        <div class="masonry-grid-sizer"></div>
        {% for event in events %}
            <div class="masonry-grid-item">
                <div class="content tile {% if event.sufficientRegistrations %}border border-success{% endif %}">
                    <h2>
                        {{ event.title }}
                        <a class="inline-icon" href="{{ path("event_share", {"identifier": event.identifier}) }}">
                            <i class="fal fa-share"></i>
                        </a>
                    </h2>
                    <p class="text-secondary">
                        {{ event_macros.display_event_datetime(event) }}
                    </p>
                    <p>{{ event.description|nl2br }}</p>
                    <p>{{ event_macros.display_event_registration(event) }}</p>
                </div>
            </div>
        {% endfor %}


        {% if app.user %}
            <div class="masonry-grid-item">
                <div class="content tile">
                    <h2>{{ triagePurpose.motivationShort }}</h2>
                    <p>
                        <a class="btn btn-primary" href="{{ path("event_new") }}">
                            {{ "new.title"|trans({}, "event") }}
                        </a>
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
